---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: aje
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: bond0mem0
selector:
  match: mac(link.permanent_addr) == "58:47:ca:7b:e9:48"
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.serial == "S46YNA0M906633"
