---
machine:
  type: controlplane
  ca:
    crt: sops://certs.os.crt
    key: sops://certs.os.key
cluster:
  ca:
    crt: sops://certs.k8s.crt
    key: sops://certs.k8s.key
  aggregatorCA:
    crt: sops://certs.k8saggregator.crt
    key: sops://certs.k8saggregator.key
  serviceAccount:
    key: sops://certs.k8sserviceaccount.key
  etcd:
    ca:
      crt: sops://certs.etcd.crt
      key: sops://certs.etcd.key
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - 172.24.20.0/24
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node-role.kubernetes.io/control-plane: ""
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:{{ kubernetesVersion }}
certExtraSANs:
  - 127.0.0.1
  - 172.24.20.11
  - k8s.internal
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  rules:
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
    enabled: true
  jwt: []
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:{{ kubernetesVersion }}
extraArgs:
  bind-address: 0.0.0.0
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key1
                secret: sops://secrets.secretboxencryptionsecret
        - identity: {}
      resources:
        - secrets
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:{{ kubernetesVersion }}
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
image: registry.k8s.io/kube-scheduler:{{ kubernetesVersion }}
extraArgs:
  bind-address: 0.0.0.0
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - actions-runner-system
  - system-upgrade
